# reverse proxy so we don't have to specify a port number
server {
  listen   80 default;
  server_name  localhost;

  access_log  /var/log/nginx/localhost.access.log;
  error_log   /var/log/nginx/localhost.error.log debug;

  #set your default location
  location / {
    proxy_pass         http://127.0.0.1:8080/;
  }
}